<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RuralEHealth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.gd.health.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAarogyaVibhag</display-name>
    <servlet-name>addAarogyaVibhag</servlet-name>
    <servlet-class>com.gd.health.addAarogyaVibhag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAarogyaVibhag</servlet-name>
    <url-pattern>/addAarogyaVibhag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aarogyaVibhagLogin</display-name>
    <servlet-name>aarogyaVibhagLogin</servlet-name>
    <servlet-class>com.gd.health.aarogyaVibhagLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aarogyaVibhagLogin</servlet-name>
    <url-pattern>/aarogyaVibhagLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSpecialistDoctor</display-name>
    <servlet-name>addSpecialistDoctor</servlet-name>
    <servlet-class>com.gd.health.addSpecialistDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSpecialistDoctor</servlet-name>
    <url-pattern>/addSpecialistDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCaseAV</display-name>
    <servlet-name>AddCaseAV</servlet-name>
    <servlet-class>com.gd.health.AddCaseAV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCaseAV</servlet-name>
    <url-pattern>/AddCaseAV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationOnCase</display-name>
    <servlet-name>OperationOnCase</servlet-name>
    <servlet-class>com.gd.health.OperationOnCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationOnCase</servlet-name>
    <url-pattern>/OperationOnCase</url-pattern>
  </servlet-mapping>
</web-app>